.DS_Store
scripts/__pycache__/__init__.cpython-39.pyc
scripts/__pycache__/mm_segment.cpython-39.pyc
scripts/__pycache__/mm_segment.cpython-313.pyc
scripts/__pycache__/mm_util.cpython-39.pyc
scripts/__pycache__/mm_util.cpython-313.pyc
scripts.egg-info/